*{
    margin: 0;
    padding: 0;
}
.link{
    /* display: block; */
    text-decoration: none;
    color: red;
    font-size: 30px;
}

.link:hover{
    border-bottom: 2px solid wheat;
}

.imgLink{
    display: block;
    text-align: center;
}

.heading{
    color: blue;
    text-align: center;
}

.nav{
    background: black;
    position: sticky;
    top: 0;
}

ul{
    display: flex;
    height: 70px;
    justify-content: space-around;
    align-items: center;
}

li{
    list-style: none;
}

img{
    height: 150px;
    width: 150px;
}

*{
    padding: 0;
    margin: 0;
}

.navbar{
    background-color: black;
    margin-bottom: 25px;
}

.logo{
    float: left;
    color: white;
}

.nav-links{
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
}

.nav-links li{
    display: inline-block;
    margin-right: 50px;
}

.icon{
    display: none;
    cursor: pointer;
}

@media (max-width:600px) {
    .icon{
        display: block;
        float: right;
    }
    .nav-links{
        display: none;
    }
    .nav-links.show{
        display: block;
    }
    .nav-links li{
        display: block;

    }
}
